# Проигнорируйте файлы, находящиеся в подкаталоге tmp и файлы, заканчивающиеся суффиксами _old, _backup. Любые символы можно заменить символом звёздочка *.
# Добейтесь чтобы также были проигнорированы файлы Thumbs.db и .DS_Store.
# При помощи команды git status убедитесь, что Git не видит ненужные файлы.
tmp/
*_old
*_backup
Thumbs.db
.DS_Store
